<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    
    <style>
        body {
            margin: 0;
            width: 100%;
            height: 100%;
            font-family: 'Slabo 27px', serif;
        }
        .spalsh-container {
            position: relative;
            width: 100%;
            height: 100%;
            background: #58B7E7;
            text-align: center;

        }
            .spalsh-container .title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
            }
                .spalsh-container .title img {
                    width: 200px;
                    height: 200px;
                    border: solid 4px white;
                    border-radius: 50% 30%;

                    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
                    
                }
                .spalsh-container .title h4 {
                    margin: 0px;
                    color: rgb(210, 210, 210);
                }
                .spalsh-container .title h1 {
                    margin-bottom: 0px;
                    
                }
            .spalsh-container .links {
                position: absolute;
                top: 0;
                right: 0;

                background-color: rgba(0,0,0, 0.15);
                padding: 15px;

                border-radius: 0 0 0 4px;

               

            }
            .spalsh-container .links ul{
                display:block;
                padding: 0;
                margin: 0;
            }
            .spalsh-container .links ul li{
                display: inline;
                font-size: 22px;
                padding: 5px px;
            }
                .spalsh-container .links ul li a {
                    text-decoration: none;
                    color: white;

        
    </style>

</head>
<body>

    <div class=" spalsh-container">
        <div class=" title">
            <img src="~/images/myAvatar.png" />
            <h1> Ronan Wolf Shade</h1>
            <h4> HACKER MAN </h4>
            
        </div>
        <div class=" links">
            <ul>
                <li>
                    <a href="https://www.facebook.com/">
                    <i class="fab fa-facebook-square"></i>

                </li>
            </ul>

            <ul>
                <li>
                    <a href="https://github.com/the4995/Uni-work-">
                    <i class="fab fa-github-square"></i>

                </li>
            </ul>

            <ul>
                <li>
                    <a href="https://www.youtube.com/?gl=AU&hl=en-GB">
                    <i class="fab fa-youtube-square"></i>

                </li>
            </ul>
            
            
           
        </div>

            

    </div>

</body>

</html>